In [2]:
import numpy as np
import pandas as pd

fb = pd.read_csv(
    'data/fb_2018.csv', index_col='date', parse_dates=True
    ).assign(trading_volume=lambda x: pd.cut(
        x.volume, bins=3, labels=['low', 'med', 'high']
    ))

weather = pd.read_csv(
    'data/weather_by_station.csv',
    index_col='date',
    parse_dates=True
)

In [ ]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [5]:
fb.agg({
    'open': 'mean',
    'high': 'max',
    'low': 'min',
    'close': 'mean',
    'volume': 'sum'
})

open      1.714544e+02
high      2.186200e+02
low       1.230200e+02
close     1.715109e+02
volume    6.949682e+09
dtype: float64

In [6]:
weather.query('station == "GHCND:USW00094728"').pivot(
    columns='datatype', values='value'
)[['SNOW', 'PRCP']].sum()

datatype
SNOW    1007.0
PRCP    1665.3
dtype: float64

In [7]:
fb.agg({
    'open': 'mean',
    'high': ['min', 'max'],
    'low': ['min', 'max'],
    'close': 'mean'
})

            open    high     low       close
mean  171.454424     NaN     NaN  171.510936
min          NaN  129.74  123.02         NaN
max          NaN  218.62  214.27         NaN

In [8]:
fb.groupby('trading_volume').mean()

C:\Users\RogerChen\AppData\Local\Temp\ipykernel_36724\46027550.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  fb.groupby('trading_volume').mean()

                      open        high         low       close        volume
trading_volume
low             171.355565  173.461040  169.306252  171.431771  2.454721e+07
med             175.818125  179.420000  172.107500  175.143750  7.907256e+07
high            167.726667  170.476667  161.573333  168.156667  1.419240e+08

In [9]:
fb.groupby('trading_volume')['close'].agg(['min','max','mean'])

C:\Users\RogerChen\AppData\Local\Temp\ipykernel_36724\335340844.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  fb.groupby('trading_volume')['close'].agg(['min','max','mean'])

                   min     max        mean
trading_volume
low             124.06  214.67  171.431771
med             152.22  217.50  175.143750
high            160.06  176.26  168.156667

In [11]:
fb_agg = fb.groupby('trading_volume').agg({
    'open': 'mean',
    'high':['min', 'max'],
    'low':['min', 'max'],
    'close': 'mean'
})
fb_agg

C:\Users\RogerChen\AppData\Local\Temp\ipykernel_36724\2987561502.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  fb_agg = fb.groupby('trading_volume').agg({

                      open    high             low               close
                      mean     min     max     min     max        mean
trading_volume
low             171.355565  129.74  216.20  123.02  212.60  171.431771
med             175.818125  162.85  218.62  150.75  214.27  175.143750
high            167.726667  161.10  180.13  149.02  173.75  168.156667

In [12]:
fb_agg.loc['med', 'low']['min']

np.float64(150.75)

In [13]:
fb_agg.columns

MultiIndex([( 'open', 'mean'),
            ( 'high',  'min'),
            ( 'high',  'max'),
            (  'low',  'min'),
            (  'low',  'max'),
            ('close', 'mean')],
           )

In [14]:
fb_agg.columns = ['_'.join(col_agg) for col_agg in fb_agg.columns]
fb_agg.head()

                 open_mean  high_min  high_max  low_min  low_max  close_mean
trading_volume
low             171.355565    129.74    216.20   123.02   212.60  171.431771
med             175.818125    162.85    218.62   150.75   214.27  175.143750
high            167.726667    161.10    180.13   149.02   173.75  168.156667