In [2]:
import matplotlib.pyplot as plt 
import pandas as pd

In [5]:
wide_df = pd.read_csv('data/wide_data.csv', parse_dates=['date'])
long_df = pd.read_csv('data/long_data.csv', usecols=['date', 'datatype', 'value'], parse_dates=['date'])[['date', 'datatype', 'value']]

In [6]:
wide_df.head(6)

        date  TMAX  TMIN  TOBS
0 2018-10-01  21.1   8.9  13.9
1 2018-10-02  23.9  13.9  17.2
2 2018-10-03  25.0  15.6  16.1
3 2018-10-04  22.8  11.7  11.7
4 2018-10-05  23.3  11.7  18.9
5 2018-10-06  20.0  13.3  16.1

In [7]:
long_df.head(6)

        date datatype  value
0 2018-10-01     TMAX   21.1
1 2018-10-01     TMIN    8.9
2 2018-10-01     TOBS   13.9
3 2018-10-02     TMAX   23.9
4 2018-10-02     TMIN   13.9
5 2018-10-02     TOBS   17.2