In [10]:
import pandas as pd
df = pd.read_csv('data/nyc_temperatures.csv')
df.head()

                  date datatype            station attributes  value
0  2018-10-01T00:00:00     TAVG  GHCND:USW00014732      H,,S,   21.2
1  2018-10-01T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   25.6
2  2018-10-01T00:00:00     TMIN  GHCND:USW00014732   ,,W,2400   18.3
3  2018-10-02T00:00:00     TAVG  GHCND:USW00014732      H,,S,   22.7
4  2018-10-02T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   26.1

In [11]:
df.columns

Index(['date', 'datatype', 'station', 'attributes', 'value'], dtype='object')

In [12]:
df.rename(columns={'value': 'temp_c', 'attributes': 'flags'}, inplace=True)
df.columns

Index(['date', 'datatype', 'station', 'flags', 'temp_c'], dtype='object')

In [13]:
df.rename(str.upper, axis='columns').columns

Index(['DATE', 'DATATYPE', 'STATION', 'FLAGS', 'TEMP_C'], dtype='object')

In [14]:
df.date = pd.to_datetime(df.date)

df.dtypes

date        datetime64[ns]
datatype            object
station             object
flags               object
temp_c             float64
dtype: object

In [15]:
df.loc[:, 'date']

0    2018-10-01
1    2018-10-01
2    2018-10-01
3    2018-10-02
4    2018-10-02
        ...
88   2018-10-30
89   2018-10-30
90   2018-10-31
91   2018-10-31
92   2018-10-31
Name: date, Length: 93, dtype: datetime64[ns]