In [2]:
import pandas as pd
df = pd.read_csv('data/nyc_temperatures.csv')
df.head()

                  date datatype            station attributes  value
0  2018-10-01T00:00:00     TAVG  GHCND:USW00014732      H,,S,   21.2
1  2018-10-01T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   25.6
2  2018-10-01T00:00:00     TMIN  GHCND:USW00014732   ,,W,2400   18.3
3  2018-10-02T00:00:00     TAVG  GHCND:USW00014732      H,,S,   22.7
4  2018-10-02T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   26.1

In [3]:
df.columns

Index(['date', 'datatype', 'station', 'attributes', 'value'], dtype='object')

In [4]:
df.rename(columns={'value': 'temp_c', 'attributes': 'flags'}, inplace=True)
df.columns

Index(['date', 'datatype', 'station', 'flags', 'temp_c'], dtype='object')

In [5]:
df.rename(str.upper, axis='columns').columns

Index(['DATE', 'DATATYPE', 'STATION', 'FLAGS', 'TEMP_C'], dtype='object')

In [6]:
df.date = pd.to_datetime(df.date)

df.dtypes

date        datetime64[ns]
datatype            object
station             object
flags               object
temp_c             float64
dtype: object

In [7]:
df.loc[:, 'date']

0    2018-10-01
1    2018-10-01
2    2018-10-01
3    2018-10-02
4    2018-10-02
        ...
88   2018-10-30
89   2018-10-30
90   2018-10-31
91   2018-10-31
92   2018-10-31
Name: date, Length: 93, dtype: datetime64[ns]

In [9]:
pd.date_range(start='2018-10-25', periods=2, freq='D').tz_localize('EST')

DatetimeIndex(['2018-10-25 00:00:00-05:00', '2018-10-26 00:00:00-05:00'], dtype='datetime64[ns, EST]', freq=None)

In [11]:
eastern = pd.read_csv('data/nyc_temperatures.csv', index_col='date', parse_dates=True).tz_localize('EST')
eastern.head()

                          datatype            station attributes  value
date
2018-10-01 00:00:00-05:00     TAVG  GHCND:USW00014732      H,,S,   21.2
2018-10-01 00:00:00-05:00     TMAX  GHCND:USW00014732   ,,W,2400   25.6
2018-10-01 00:00:00-05:00     TMIN  GHCND:USW00014732   ,,W,2400   18.3
2018-10-02 00:00:00-05:00     TAVG  GHCND:USW00014732      H,,S,   22.7
2018-10-02 00:00:00-05:00     TMAX  GHCND:USW00014732   ,,W,2400   26.1

In [12]:
eastern.tz_convert('UTC').head()

                          datatype            station attributes  value
date
2018-10-01 05:00:00+00:00     TAVG  GHCND:USW00014732      H,,S,   21.2
2018-10-01 05:00:00+00:00     TMAX  GHCND:USW00014732   ,,W,2400   25.6
2018-10-01 05:00:00+00:00     TMIN  GHCND:USW00014732   ,,W,2400   18.3
2018-10-02 05:00:00+00:00     TAVG  GHCND:USW00014732      H,,S,   22.7
2018-10-02 05:00:00+00:00     TMAX  GHCND:USW00014732   ,,W,2400   26.1

In [13]:
eastern.tz_localize(None).to_period('M').index

PeriodIndex(['2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10'],
            dtype='period[M]', name='date')

In [14]:
eastern.tz_localize(None).to_period('M').to_timestamp().index

DatetimeIndex(['2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01'],
              dtype='datetime64[ns]', name='date', freq=None)

In [15]:
df = pd.read_csv('data/nyc_temperatures.csv').rename(
    columns={'value': 'temp_c', 'attributes': 'flags'}
)
new_df = df.assign(
    date=pd.to_datetime(df.date),
    temp_f=(df.temp_c * 9 / 5) + 32
)
new_df.dtypes

date        datetime64[ns]
datatype            object
station             object
flags               object
temp_c             float64
temp_f             float64
dtype: object

In [16]:
new_df.head()

        date datatype            station     flags  temp_c  temp_f
0 2018-10-01     TAVG  GHCND:USW00014732     H,,S,    21.2   70.16
1 2018-10-01     TMAX  GHCND:USW00014732  ,,W,2400    25.6   78.08
2 2018-10-01     TMIN  GHCND:USW00014732  ,,W,2400    18.3   64.94
3 2018-10-02     TAVG  GHCND:USW00014732     H,,S,    22.7   72.86
4 2018-10-02     TMAX  GHCND:USW00014732  ,,W,2400    26.1   78.98

In [17]:
df = df.assign(
    date=lambda x: pd.to_datetime(x.date),
    temp_c_whole=lambda x: x.temp_c.astype(int),
    temp_f=lambda x: (x.temp_c * 9 / 5) + 32,
    temp_f_whole=lambda x: x.temp_f.astype(int)
)
df.head()

,date,datatype,station,flags,temp_c,temp_c_whole,temp_f,temp_f_whole
0,2018-10-01,TAVG,GHCND:USW00014732,"H,,S,",21.2,21,70.16,70
1,2018-10-01,TMAX,GHCND:USW00014732,",,W,2400",25.6,25,78.08,78
2,2018-10-01,TMIN,GHCND:USW00014732,",,W,2400",18.3,18,64.94,64
3,2018-10-02,TAVG,GHCND:USW00014732,"H,,S,",22.7,22,72.86,72
4,2018-10-02,TMAX,GHCND:USW00014732,",,W,2400",26.1,26,78.98,78

In [18]:
df_with_categories = df.assign(
    station=df.station.astype('category'),
    datetype=df.datatype.astype('category')
)
df_with_categories.dtypes

date            datetime64[ns]
datatype                object
station               category
flags                   object
temp_c                 float64
temp_c_whole             int64
temp_f                 float64
temp_f_whole             int64
datetype              category
dtype: object

In [19]:
df_with_categories.describe(include='category')

                  station datetype
count                  93       93
unique                  1        3
top     GHCND:USW00014732     TAVG
freq                   93       31

In [20]:
pd.Categorical(['med', 'med', 'low', 'high'],
               categories=['low', 'med', 'high'],
               ordered=True
               )

['med', 'med', 'low', 'high']
Categories (3, object): ['low' < 'med' < 'high']

In [21]:
df[df.datatype == 'TMAX'].sort_values(by='temp_c', ascending=False).head()

,date,datatype,station,flags,temp_c,temp_c_whole,temp_f,temp_f_whole
19,2018-10-07,TMAX,GHCND:USW00014732,",,W,2400",27.8,27,82.04,82
28,2018-10-10,TMAX,GHCND:USW00014732,",,W,2400",27.8,27,82.04,82
31,2018-10-11,TMAX,GHCND:USW00014732,",,W,2400",26.7,26,80.06,80
10,2018-10-04,TMAX,GHCND:USW00014732,",,W,2400",26.1,26,78.98,78
4,2018-10-02,TMAX,GHCND:USW00014732,",,W,2400",26.1,26,78.98,78